<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
    <listener class-name="fieldPractice.TestngListners" />
  </listeners>
  <test name="Test">
    <classes>            
      <class name="fieldPractice.SetGecoDriver"/>
      <class name="fieldPractice.Tests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
